.faq-section {
  display: flex;
  gap: 40px;
  margin: 50px auto;
  font-family: 'Plus Jakarta Sans';
  border: 1px solid #E0E0E0;
  border-radius: 36px;
  padding: 40px 50px;
}

@media (max-width: 768px) {
  .faq-section {
    flex-direction: column;
    gap: 20px;
  }
}

.faq-left {
  flex: 1;
  max-width: 40%;
}

.faq-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1D1E25;
}

.faq-description {
  font-size: 16px;
  color: #666;
  text-align: left;
  margin-bottom: 20px;
}

.faq-buttons {
  display: flex;
  gap: 15px;
}

.faq-btn {
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
}

.faq-btn.primary {
  background: #EFE4FF;
  color: #5700C6;
  font-weight: bold;
}

.faq-btn.primary:hover {
  background: #DACDFF;
}

.faq-btn.secondary {
  background: none;
  color: #010205;
  font-weight: 600;
  text-decoration: underline;
}

.faq-btn.secondary:hover {
  text-decoration: underline;
}

/* Bên phải chứa câu hỏi */
.faq-right {
  flex: 1.5;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.faq-question {
  width: 100%;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  background: none;
  color: #1D1E25;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s;
}

.faq-question:hover {
  color: #5700C6;
}

.faq-icon {
  font-size: 22px;
  font-weight: bold;
  color: #5700C6;
}

.faq-answer {
  padding-top: 10px;
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  transition: max-height 0.3s ease-in-out;
  text-align: left;
  font-weight: 400;
}
