.collection-item-card {
  background: linear-gradient(90deg, #F7F4FF 0%, #E1CFFF 100%);
  border-radius: 24px;
  padding: 25px 32px;
  padding-bottom: 0px;
  color: #1D1E25;
  width: 100%;
  height: 200px;
  position: relative;
  transition: all 0.3s ease;
  font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, sans-serif;
}

.collection-item-card:hover {
  transform: translateY(-4px);
}

.category-item {
  text-decoration: none;
  color: #1D1E25;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Header section */
.user-category-card-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-category-card-content-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
}

.red-new-tag {
  background: #ED2828;
  width: 54px;
  height: 24px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 300px;
  line-height: 20px;
  gap: 4px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* Main content section */
.user-category-card-main-content {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 32px;
}

.user-category-card-content {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

/* Category Image */
.category-image-container {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: auto;
  width: auto;
}

.category-image {
  width: 100%;
  height: 100%;
}

/* Arrow button */
.user-category-card-arrow-btn {
  width: 40px;
  height: 40px;
  background: #5700C6;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.collection-item-card:hover .user-category-card-arrow-btn {
  transform: translateX(4px);
}

.arrow-img {
  width: 56px;
  height: 56px;
}
  