.register-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 688px;
    background-color: #f0f0f0;
}

.auth-image img {
    max-width: 100%;
    height: auto;
}

.register-page-form {
    background: white;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.register-page-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #1D1E25;
}

strong {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: #F5F5F5;
    padding-left: 20px;
}

.register-page-btn-yellow {
    background-color: #5700C6;
    color: white;
    border: none;
    width: 100%;
    height: 48px;
    margin-top: 15px;
    font-weight: 500;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
}

.register-page-btn-yellow:hover {
    background-color: #4e00b3;
}

.register-page-signin-text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.register-page-signin-text a {
    color: #5700C6;
    font-weight: bold;
    text-decoration: none;
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-bottom: 15px;
}

.checkbox-item a {
    color: #5700C6;
}

.Divider {
    margin: 20px 0;
    color: #999;
}