.pricing-card {
    position: relative;
    width: fit-content;
    min-width: 300px;
    background: linear-gradient(154.91deg, #FFFFFF 8.79%, #E2D0FF 94.56%);
    border-radius: 36px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    font-weight: 500;
    transition: 0.3s;
}

.pricing-card-header {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.pricing-card-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1D1E25;
    margin: 0;
    margin-top: 10px;
}

.pricing-card-price {
    margin-top: 15px;
    font-size: 46px;
    line-height: 100%;
    letter-spacing: -3%;
    font-weight: 700;
    color: #1D1E25;
    margin-bottom: 0;
}

.pricing-card-price span {
    font-size: 14px;
    line-height: 100%;
    font-weight: 500;
    letter-spacing: 0%;
    color: #111116;
}

.pricing-card-subtitle {
    color: #1D1E25;
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 0;
    white-space: nowrap;
}

.pricing-card-switch {
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    gap: 10px;
}

.pricing-card-switch .ant-switch-inner {
    background: #DACDFFE5 !important;
}

.pricing-card-switch .ant-switch .ant-switch-handle::before {
    background-color: #5700C6;
}

.pricing-card-divider {
    margin: 15px 0;
    border: none;
    height: 1px;
    background: #1D1E25;
    opacity: 0.1;
}

.pricing-card-features {
    list-style: none;
    padding: 0;
    text-align: left;
    font-weight: 500;
}

.pricing-card-feature {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-items: center;
    font-size: 14px;
    color: #555;
    margin: 15px 0;
}

.pricing-card-icon {
    font-size: 16px;
    font-weight: bold;
    margin-right: 8px;
    display: flex;
}

.pricing-icon-check {
    color: #00ff00;
}

.pricing-icon-cross {
    color: #ff4d4d;
}

.pricing-card-access-button {
    width: 100%;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 36px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: 700;
    line-height: 24px;
}

.pricing-card-acesss-button:hover {
    opacity: 0.9;
}

.pricing-card-signup-button {
    width: 100%;
    color: #5700C6;
    border: none;
    padding: 12px;
    border-radius: 36px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;
    line-height: 20px;
    font-weight: 700;
}

.pricing-card-signup-button:hover {
    opacity: 0.9;
}

/* Khi là thẻ popular, toàn bộ chữ sẽ là màu trắng */
.popular-card {
    background: #111116;
    color: white;
    position: relative;
    isolation: isolate;
}

.popular-card::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #111116;
    z-index: -2;
    border-radius: 36px;
}

.popular-card .pricing-card-title,
.popular-card .pricing-card-price,
.popular-card .pricing-card-price span,
.popular-card .pricing-card-subtitle,
.popular-card .pricing-card-feature {
    color: white;
    font-weight: 500;
    position: relative;
    z-index: 1;
}

.popular-card .pricing-card-price {
    font-weight: 700;
}

.popular-card .divider {
    background: rgba(255, 255, 255, 0.3);
}

/* Badge "Most Popular" */
.popular-badge {
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(0deg, #5700C6, #5700C6), linear-gradient(90deg, rgba(240, 232, 255, 0) 0%, #3F09A8 100%);
    color: #FFFFFF;
    padding: 6px 24px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 100px;
    border: 2px solid #FFFFFF;
    letter-spacing: 0.5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    line-height: 16px;
    letter-spacing: -1%;
    margin-bottom: 10px;
}

/* Responsive cho điện thoại */
@media (max-width: 768px) {
    .pricing-card {
        width: 90%;
        /* Cho card rộng hơn khi màn hình nhỏ */
        padding: 15px;
        margin: 10px auto;
    }

    .pricing-card-header {
        min-height: 90px;
    }

    .pricing-card-title {
        font-size: 18px;
    }

    .pricing-card-price {
        font-size: 28px;
    }

    .pricing-card-features {
        font-size: 14px;
    }

    .pricing-card-feature {
        font-size: 13px;
    }

    .pricing-card-access-button,
    .pricing-card-signup-button {
        padding: 12px;
        font-size: 14px;
    }

    .popular-badge {
        font-size: 10px;
        padding: 5px 12px;
    }
}

.popular-card .pricing-card-divider {
    opacity: 0.2;
    background: #FFFFFF;
}

.eclipse-image {
    position: absolute;
    bottom: 25%;
    right: -20px;
    width: 200px;
    height: auto;
    pointer-events: none;
    z-index: 0;
    opacity: 0.5;
    transform: rotate(17deg);
}