.component-prompt-card-container {
  background: #F4F0FF;
  border-radius: 16px;
  width: 100%;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  min-height: 240px;
  border: 1px solid #E5E7EB;
  cursor: pointer;
}

.component-prompt-card-container:hover {
  transform: translateY(-4px);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);
}

.component-prompt-card {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.component-prompt-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
}

.component-prompt-card-image-block {
  display: flex;
  gap: 8px;
}

.component-prompt-icon {
  width: 36px;
  height: 36px;
}

.component-premium-tag-div {
  display: flex;
  gap: 8px;
}

.component-premium-tag {
  height: 36px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 4px 12px;
  background: #FFC046;
  border-radius: 300px;
  color: #1D1E25;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  border: none;
}
.component-free-tag {
  height: 36px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  background: #FFFFFF;
  border-radius: 300px;
  color: #1D1E25;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  border: none;
}
.component-new-tag {
  width: 64px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ED2828;
  border-radius: 300px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.component-prompt-card-body {
  flex: 1;
  text-align: left;
  background-color: #FFFFFF;
  padding: 12px;
  border-radius: 8px;
}
.component-prompt-card-body-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1D1E25
}
.component-prompt-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #1D1E25;
  margin-bottom: 8px;
}

.component-prompt-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #1D1E25;
}

.component-prompt-card-topic {
  background-color: #FFFFFF;
  padding: 10px 16px;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #1D1E25;
}

.component-prompt-card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 16px;
}

.component-view-prompt-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  background: #DACDFFE5;
  border-radius: 100px;
  color: #5700C6;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.component-view-prompt-button:hover {
  background: #5700C6;
  color: #FFFFFF;
}

/* .component-like-link-holder {
  display: flex;
  align-items: center;
}

.component-like-link-holder-div-child {
  width: 36px;
  height: 36px;
  background: #F4F0FF;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.component-like-link-holder-div-child:hover {
  background: #5700C6;
}

.component-like-link-holder-div-child svg {
  color: #5700C6;
  font-size: 16px;
}

.component-like-link-holder-div-child:hover svg {
  color: #FFFFFF;
} */